.sec2{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    
}

.sec2-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec2-1 > :nth-child(1){        /* (or) .sec2-1 span{}*/
     font-weight: 600;
}   

.sec2-2{
    margin-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.sec2-2-1{
    margin-left: 150px;
}

.sec2-2-1 img{
    /* width: 300px;
    border-radius: 50%; */
    width: 300px;
    height: 320px;          /* make it a square */
    object-fit: cover;      /* keeps proportions clean */
    object-position: center 20%;/* crop centered */
    border-radius: 50%;
}

.sec2-2-2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.sec2-2-2-1{
    display: flex;
    flex-direction: row;
    gap: 50px;
    /* margin-bottom: 50px; */
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    gap: 5px;
}

.box img{
    width: 35px;
}

.box > :nth-child(2){
    font-size: 20px;
    font-weight: 600;
}

.box > :nth-child(3),
.box > :nth-child(4){
    font-size: 17px;
}

.p1{
    width: 89%;
}

@media(max-width:1024px){
    .sec2{
        height: 100%;
    }
    .sec2-2{
    margin-top: 150px;
    flex-direction: column;
    }
    .sec2-2-1{
        margin-left: 0px;
    }
    .sec2-2-2{
        align-items: center;
    }
}

@media(max-width:767px){
    .sec2{
        height: 100%;
    }
    .sec2-2{
    margin-top: 50px;
    flex-direction: column;
    }
    .sec2-2-1{
        margin-left: 0px;
    }
    .sec2-2-1 img{
    width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
    }
    .sec2-2-2{
        align-items: center;
    }
    .sec2-2-2-1{
        flex-direction: column;
    }
}

