.sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    padding-top: 150px;         /* my own 50 extra*/
    gap: 100px;
    margin-bottom: 50px;
}

.sec3-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec3-1 > :nth-child(1){
    font-weight: 600;
}

.sec3-2{
    display: flex;
    gap: 50px;
    padding-bottom: 100px;
}
.box2{
    width: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    gap: 15px;
}

.box2>:nth-child(1){
    font-size: 24px;
    font-weight: 600;
}

.skills{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto ;
    /* gap: 10px; */
    height: 250px;
}
.skills1{
    display: flex;
    align-items: start;
    gap: 10px;

}

.skills1 img{
    width: 30px;
}

.skills1-2{
    display: flex;
    flex-direction: column;
}

.skills1-2> :nth-child(1){
    font-size: 18px;
    font-weight: 600;
}

@media(max-width:1024px){
    .sec3{
        padding-top: 50px;     
        height: 100%;
    }

    .sec3-2{
        display: flex;
        flex-direction: column;
    }
    .box2{
    width: 450px;
    height: 380px;
    }
    .box2>:nth-child(1){
    font-size: 28px;
    }
    .skills{
    gap: 50px;
    }
    .skills1{
    gap: 15px;
    }

    .skills1 img{
    width: 35px;
    }

    .skills1-2> :nth-child(1){
    font-size: 23px;
    }
}


@media(max-width:767px){
    .sec3{
        padding-top: 0px;
  
    }

    .sec3-2{
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
    .box2{
    width: 300px;
    gap: 25px;
    }
    .box2>:nth-child(1){
    font-size: 18px;
    }
    .skills{
    gap: 25px;
    }
    .skills1{
    gap: 10px;
    }

    .skills1 img{
    width: 30px;
    }

    .skills1-2> :nth-child(1){
    font-size: 18px;
    }
}