.sec4{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    gap: 10px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.sec4-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.sec4-1 > :nth-child(1){
    font-weight: 600;
}
.sec4-2{
    display: flex;
    gap: 50px;

}

.box3{
    width: 350px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    gap: 15px;
}

.box3 img{
    width: 300px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.box3-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.box3-2 > :nth-child(1){
    font-size: 22px;
    font-weight: 600;
}


@media(max-width:1024px){
    .sec4{
        height: 100%;
    }
    .sec4-2{
        flex-direction: column;
        padding-bottom: 100px;
    }
    .box3{
    width: 500px;
    gap: 20px;
    }

    .box3 img{
    width: 400px;
    }

    .box3-2 > :nth-child(1){
    font-size: 30px;
    font-weight: 600;
    }
}


@media(max-width:767px){
    .box3{
    width: 300px;
    gap: 15px;
    }

    .box3 img{
    width: 200px;
    }

    .box3-2 > :nth-child(1){
    font-size: 20px;
    }
}